<div class="main" ng-animate="{show: 'fade-show', hide: 'fade-hide'}">
        <div class="container" style="padding-top: 100px">
            <header>
                <h3>Controller State: {{state}}</h3>
            </header>
            <div class="row" ng-repeat="relay in relays">
                <div class="span1">{{relay.index}}</div>
                <div class="span3">
                    Number of repetitions:
                    <br />
                    <input ng-model="relay.repetitions" type="text" placeholder="1000">
                </div>
                <div class="span3">
                    Switching timeout:
                    <br />
                    <input ng-model="relay.timeout" type="text" placeholder="3">
                </div>
                <div class="span3">
                    Duty Cycle (%):
                    <br />
                    <input ng-model="relay.duty" type="text" placeholder="50">
                </div>
                <div class="span2 btn-group">
                    <button class="btn btn-primary" type="button" 
                        ng-disabled="relay.state === 'Running'" 
                        ng-click="startController(relay.index)">Start</button>
                    <button class="btn btn-primary" type="button" 
                        ng-disabled="relay.state === 'Stopped'" 
                        ng-click="stopController(relay.index)">Stop</button>
                </div>
                <div ng-show="relay.state === 'Running'"><h1>{{count[relay.index]}}</h1></div>
            </div>
        </div>
    </div>
</div>